<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script> <!-- 아임포트 JS SDK 로드 -->
    <title>결제 테스트</title>
</head>
<body>
<button onclick="requestPay()">결제하기</button>

<script>
    var IMP = window.IMP; // 생략 가능
    IMP.init('imp86026232'); // 아임포트 가맹점 식별코드로 변경

    // JWT 토큰을 변수에 저장 (예: 로그인 후 서버로부터 받은 JWT 토큰)
    const jwtToken = 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJldW5qaUBuYXZlci5jb20iLCJyb2xlIjoiTWVtYmVyIiwibWVtYmVySWQiOjMsImlhdCI6MTcyNjk5NDc2NCwiZXhwIjoxNzI3MDgxMTY0fQ.i4n_fN4VNDk7zJdCdaSgbo8Uttd1-_5FEKPMJkZ_5n210MVRGj9WzLtBYH05Ci5fni5eYp_34KzRZEx_S-S7Aw'; // 로그인 후 서버로부터 받은 JWT 토큰 값

    function requestPay() {
        IMP.request_pay({
            pg: 'html5_inicis', // 이니시스 결제 사용
            pay_method: 'card', // 결제 수단: 카드
            merchant_uid: 'order_no_' + new Date().getTime(), // 주문 번호
            name: '테스트 결제',
            amount: 100, // 결제 금액
            memberEmail: 'test@example.com',
            buyer_name: '홍길동',
            buyer_tel: '010-4242-4242',
            buyer_addr: '서울시 강남구 신사동',
            buyer_postcode: '01181'
        }, function (rsp) { // 콜백 함수
            if (rsp.success) {
                fetch('payment/process?impUid=' + rsp.imp_uid, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + jwtToken
                    }
                }).then(response => {
                    if (!response.ok) {
                        // 응답이 정상적이지 않을 때 상태 코드를 확인
                        throw new Error('Error: ' + response.status + ' - ' + response.statusText);
                    }
                    return response.json();
                }).then(data => alert('결제 성공: ' + data.amount))
                    .catch(error => alert('결제 오류: ' + error.message));
            }
        });
    }
</script>
</body>
</html>
