apiVersion: apps/v1
kind: Deployment
metadata:
  name: community-deployment
  namespace: todak
spec:
  replicas: 2
  selector:
    matchLabels:
      app: community
  template:
    metadata:
      labels:
        app: community
    spec:
      containers:
        - name: todak
          image: 058264257845.dkr.ecr.ap-northeast-2.amazonaws.com/todak-community:latest # 수정 필요
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: "0.6"
              memory: "500Mi"
            requests:
              cpu: "0.6"
              memory: "500Mi"
          env:
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  key: REDIS_HOST
                  name: todak-secret
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: DB_HOST
                  name: todak-secret
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  key: DB_USERNAME
                  name: todak-secret
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: DB_PASSWORD
                  name: todak-secret
            - name: AWS_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: AWS_ACCESS_KEY
                  name: todak-secret
            - name: AWS_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  key: AWS_SECRET_KEY
                  name: todak-secret
            - name: BUCKET
              valueFrom:
                secretKeyRef:
                  key: BUCKET
                  name: todak-secret
            - name: KAFKA_BOOTSTRAP
              valueFrom:
                secretKeyRef:
                  key: KAFKA_BOOTSTRAP
                  name: todak-secret
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  key: JWT_SECRET
                  name: todak-secret
            - name: JWT_SECRET_RT
              valueFrom:
                secretKeyRef:
                  key: JWT_SECRET_RT
                  name: todak-secret
          # 무중단 배포를 위한 컨테이너 health check
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
          #   # 컨테이너 시작 후 지연시간 설정
            initialDelaySeconds: 10
          #   # 확인반복주기
            periodSeconds: 10
          #   # 요청 타임아웃 설정
            timeoutSeconds: 1
          #   # 성공 인식 횟수 설정
            successThreshold: 1
          #   # 연속 실패 횟수 : 연속적으로 5번을 실패하면 건강하지 않은 상태로 판단하여 기존 서버 종료시키지 않음
            failureThreshold: 5